.center
  = link_to "click here to add a mountain of your choice!", new_mountain_path, class: "btn blue darken-4"
  = link_to "All Mountains!", mountains_path, class: "btn blue darken-4mngfi3"
  
= render(partial: 'shared/mountains')